/* font-family: 'Open Sans', sans-serif;
font-family: 'Princess Sofia', cursive; */

*, *:before, *:after {
    margin: 0;
    border: 0;
}

ul{
    list-style: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h1, h2{
    font-family: 'Princess Sofia', cursive;
    color: #e5904d;
    text-shadow: 1px 1px black;
}

.section-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-heading{
    margin-bottom: 1.8rem;
}

#s1_header{
    background-color: #1e1109;
}
#s2_trio{
    background-color: #fefaf7;
}
#s3_painting_of_the_week{
    background-color: #26221f;
}
#s4_about{
    background-color: #f0e9d7;
}
#s5_prints{
    background-color: #fefaf7;
}
#s6_paintings{
    background-color: #101014;
}
#s7_drawings{
    background-color: #f0e9d7;
}
#s8_contact{
    background-color: #fefaf7;
}

footer{
    background-color: #414046;
    color: white;
}
