/************** s9_footer *********************/
footer.section-padding {
    padding-bottom: 0;
}

footer h2 {
    font-size: 1.4rem;
    margin-bottom: .6rem;
}
footer .btn-toolbar i {
    margin: 0;
    padding: .3rem 0;
}

.footer-grid{
    display: grid;
}
@media (min-width: 768px) { 
    .footer-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "footer_hours footer_img"
        "footer_menu footer_museum"
        "footer_painting_names footer_links"
        ;
        row-gap: 1rem;
    }
    footer ul{
        padding-left: 0;
    }

    .footer_img{
        width:  50%;
        justify-self: flex-end;
    }
}


@media (max-width: 768px) { 
    .footer-grid{
        font-size: small;
	    grid-template-columns: repeat(1, 1fr);
	    grid-template-rows: repeat(6, auto);
	    gap: 1rem;
	    grid-template-areas: 
	        "footer_hours"
	        "footer_menu"
	        "footer_museum"
	        "footer_painting_names"
	        "footer_links"
	        "footer_img"
    }
    .footer_menu, .footer_museum, .footer_painting_names, .footer_links{
        border-top: 1px dashed black;
        padding-top: 1.2rem;
        display: flex;
        justify-content: space-evenly;
	    align-items: center;
    }
    footer h2 {
        text-align: center;
    }
    .footer_museum, .footer_links {
        flex-direction: row-reverse;
        text-align: right;
     }
     .footer_img{
	    width:  50%;
	    justify-self: flex-end;
	}
	            
	.footer_hours{
		text-align: center;
	}
}


.footer_hours{
    grid-area: footer_hours;
}
.footer_menu{
    grid-area: footer_menu;
}
.footer_museum{
    grid-area: footer_museum;
}
.footer_painting_names{
    grid-area: footer_painting_names;
}
.footer_links{
    grid-area: footer_links;
}
.footer_img{
    grid-area: footer_img;
}


.copyrights p{
    margin: 0;
    padding: 0;
}
/************** s9_footer *********************/