/************** s3_painting_of_the_week *********************/
#s3_painting{
    text-align: center;
}
#s3_painting h2{
    margin-bottom: 1.4rem;
}
#s3_painting img{
    width: 100%;
    margin-bottom: 1.4rem;
    border: 3px solid white;
}
/************** s3_painting_of_the_week *********************/