/************** s5_prints s7_drawings  *********************/
.img-thumbs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}
.img-thumbs img{
    display: block;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.img-thumbs .interface-img-thumb{
    box-shadow: none;
}

/************** /s5_prints  /s7_drawings *********************/
